body, h1, h2, h3, p {
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.44em;
}
.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.banner h1 {
  font-size: 4.5em;
  font-weight: bold;
  color: #fff;
}

.banner p {
  font-size: 1.2em;

}

a:link {
  color: #fff;
}

.section1 {

 }

 .banner2 {
   background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
 }

.banner2 h3 {
  color: #fff;
}

.footer {
  background-color: dimgray;
  text-align: left;
}
.footer a {
  color: #fff;
}

.copyright {
  color: #fff;
  font-size: .7em;
}
